<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../fontawesome-free-5.12.0-web/css/all.css">
    <link rel="stylesheet" type="text/css" href="../nurse/css/bed.css">
    <title>Document</title>
</head>

<body onload="display();">
    <div id="content">
        <header>
            <div class="header-list">
            <button class="header-list-item"><span class=" fa fa-plus"></span> New Treatment</button>
            <button class="header-list-item"><span class="fa fa-file"></span> Records</button>
            <button class="header-list-item"><span class="fa fa-envelope"> Messages</span></button>
        </div>
        <div class="search-area">
            <div class="search-container">
          <input type="search" class="search" placeholder="search activity"> &nbsp;<span class="fa fa-search"></span>
        </div>
        </div>
        <div>
            <div class="header-section-3">
              
               
                <div class="fa fa-sun icon-3" title="Settings"></div>
                <div class="fa fa-bell icon-3" title="All Notifications"></div>
                <div class="drop-down">
                    <div class="fa fa-user-circle icon-3 drop-btn">
                        <div class="dropdown-content">
                            <a href="profile.html"><span class="fa fa-user-circle"></span>&nbsp; &nbsp; Profile</a>
                            <a href="profile.html"><span class="fa fa-lock"></span>&nbsp; &nbsp;Change Password</a>
                            <a href="#"><span class="fa fa-key">&nbsp; &nbsp;Logout</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           
        </header>
            <%- include('partials/side-bar.ejs') %>
        <main>
            <%- include('partials/notification-bar') %>
          <div class="tabs">
                <div role="tablist" aria-label="bed-allocations" class="tabs-elements">
                  <button role="tab" aria-selected="true" id="bed-list"><i class="fa fa-bars">&nbsp; View Bed Allocation List</i></button>
                  <button role="tab" aria-selected="false" id="add-bed"><i class="fa fa-cross">&nbsp; Add Bed</i></button>

                </div>
               <div role="tabpanel" aria-labelledby="bed-list" class="tab-panel">
                   <div class="search-sort-sections">
              <div class="show-section">
               <span>Show <input type="number" value="10"></span> 
               <button>Excel</button>
               <button>PDF</button>
               <button>copy</button>

              </div>
              <div>

              </div>
              <div>
                  <label>Search: </label><input type="search" id="search">
              </div>

          </div>
              <table>
                  <thead>
                      <th>ID</th>
                      <th>CARD NUMBER</th>
                      <th>PATIENT NAME</th>
                      <th>WARD NUMBER</th>
                      <th>BED NUMBER</th>
                      <th>ALLOTMENT TIME</th>
                      <th>DISCHARGE TIME</th>
                      <th  class="edit-column">edit</th>
                      <th  class="edit-column">DEL</th>
                  </thead>
                  <% allocatedBedList.forEach( (list, index) => { const d = new Date(list.createdAt) %>
                  <tr>
                      <td><%= index + 1 %></td>
                      <td><%= list.cardNumber %></td>
                      <td><%= list.patientName %></td>
                      <td><%= list.wardNumber %></td>
                      <td><%= list.bedNumber %></td>
                      <td><%= `${d.getDate()}/${d.getMonth()}/${d.getFullYear()}` %></td>
                      <td><%= `${d.getDate()}/${d.getMonth()}/${d.getFullYear()}` %></td>
                      <td><a href="allocated-bed-list?id=<%= list._id %>" data-bedNumber="<%= list.bedNumber %>" data-roomNumber="<%= list.roomNumber %>" data-wardNumber="<%= list.wardNumber %>" id="deActivateBtn"><i class="fa fa-edit"></i></a></td>
                      <td><a href="allocated-bed-list?id=<%= list._id %>" id="updateBtn"><i class="fa fa-trash-alt"></i></a></td>
                  </tr>
                  <% }) %>
              </table>
          </div>
            
             <div role="tabpanel" aria-labelledby="add-bed" hidden="hidden">
                <h1> Coming soon!!!!!</h1>
            </div>
          </div>

        </main>
        <footer>
            <div>
                <span>©2020 HRMS All Rights Reserved</span><br>
                <span class="footer-contents">Powered By AIS</span>
            </div>
        </footer>

    </div>
    <script type="text/javascript" src="../nurse/js/bed.js"></script>
    <script type="text/javascript" src="../nurse/js/allocated-bed-list.js"></script>
    
</body>
</html>